{% extends 'template.html' %}

<!-- Criar UMA TELA PARA RESETAR PASSWORD DE USUÁRIOS -->

{% block title %} Trocar senha {% endblock %}
{% block section %}
	{% from "security/_macros.html" import render_field_with_errors, render_field %}
	{% include "layout/messages.html" %}
	<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
	  {{ change_password_form.hidden_tag() }}
	  <div class="form-row">
	  	<div class="form-group col-sm-3 ">
	  		{{ render_field_with_errors(change_password_form.password, class_="form-control form-control-sm") }}		
	  	</div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-sm-3">
	  		{{ render_field_with_errors(change_password_form.new_password, class_="form-control form-control-sm") }}
	  	</div>
	  	<div class="form-group col-sm-3">
	  		{{ render_field_with_errors(change_password_form.new_password_confirm, class_="form-control form-control-sm") }}
	  	</div>
	  </div>
	  {{ render_field(change_password_form.change_password, class="btn btn-success") }}
	</form>
{% endblock %}