{% block sidebar %}
    <aside class="main-sidebar">

      <section class="sidebar"> 
        
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Navegação</li>
          {%  if current_user.roles[0].name == 'admin' or current_user.roles[0].name == 'medidor' %}
            <li class="active">
              <a href="{{ url_for('pedido.medicao') }}"><i class="fa fa-link"></i> <span>Medições</span></a>
            </li>
          {% endif %}
          {% if current_user.roles[0].name == 'admin' %}
            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Pedidos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="{{ url_for('pedido.cadastrar') }}">Cadastrar</a></li>
                <li><a href="{{ url_for('pedido.aprovar') }}">Aprovações</a></li>
                <li><a href="{{ url_for('pedido.pedidos') }}">Em andamento</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
      </section>
    </aside>
  {% endblock %}