{% extends 'template.html' %}


{% block section %}
		<table table table-hover>
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Loja</th>
					<th scope="col">Numero</th>
					<th scope="col">Data inicio</th>
					<th scope="col">Data agendada</th>
				</tr>
			</thead>
			<tbody>
				{% for pedido_servico in pedido_servicos %}
					<tr>
						<th scope="row"></th>
						<td>{{ pedido_servico.pedido_obj.loja_obj.nome }}</td>
						<td>{{ pedido_servico.pedido_obj.numero }}</td>
						<td>{{ pedido_servico.data_inicio }}</td>
						<td>{{ pedido_servico.servico_props['agendamento'][-1]|string|('%d-%m-%Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}