html,body{
	height: 100%;
}

.btn-margin{
	margin-left: 20px;
}

.form-centralization{
	margin: 0 auto;
	width: 80%;
}

.hide-tag{
	display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stretch {
	width: 600px;
}

.space-between-elements{
	padding-left: 20px;
	padding-right: 20px;
}

#table-pedido-servico {
	padding-left: 20px;
	padding-right: 20px; 
}

#table-pedido-servico td{
	white-space: nowrap;
	word-break: keep-all;
	padding-left: 20px;
	padding-right: 20px; 
}

#table-pedido-servico th{
	white-space: nowrap;
	word-break: keep-all;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px; 
}

#tabela-pedidos {
	table-layout: fixed;
}

#tabela-pedidos td {
	word-break: keep-all;
}