html,body{
	height: 100%;
}

.btn-margin{
	margin-left: 20px;
}

.form-centralization{
	margin: 0 auto;
	width: 80%;
}

.hide-tag{
	display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
