html,body{
	height: 100%;
}

.btn-margin{
	margin-left: 20px;
}

.form-centralization{
	margin: 0 auto;
	width: 80%;
}

.hide-tag{
	display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stretch {
	width: 600px;
}

.space-between-elements{
	padding-left: 20px;
	padding-right: 20px;
}

#table-pedido-servico {
	padding-left: 20px;
	padding-right: 20px; 
}

#table-pedido-servico td{
	white-space: nowrap;
	word-break: keep-all;
	padding-left: 20px;
	padding-right: 20px; 
}

#table-pedido-servico th{
	white-space: nowrap;
	word-break: keep-all;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px; 
}

#tabela-pedidos {
	table-layout: fixed;
}

#tabela-pedidos td {
	word-break: keep-all;
}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;
    color: #d16e6c;
    margin-top: 5px;
    margin-bottom: 0;
	padding-left: 0;
}

.parsley-errors-list.filled {
	opacity: 1;
}