{% extends 'template.html' %}

{% block title %} Liberação de serviços {% endblock %}
{% block section %}
	{% include "layout/messages.html" %}
	{% if pedido_servicos|length == 0%}
		<h1>Não há serviços para liberar! =)</h1>
	{% else %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Loja</th>
					<th>Numero do pedido</th>
					<th>Valor do pedido</th>
					<th>Servico</th>
					<th>Valor da comissao</th>
					<th>Data Fim</th>
				</tr>
			</thead>
			<tbody>
				{% for pedido_servico in pedido_servicos %}
					<tr row="scope">
						<td>{{ pedido_servico.pedido_obj.loja_obj.nome }}</td>
						<td>{{ pedido_servico.pedido_obj.numero }}</td>
						<td>{{ "R$ " + pedido_servico.pedido_obj.valor|replace('.', ',') }}</td>
						<td>{{ pedido_servico.servico_obj.nome_real }}</td>
						<td>{{ "R$ " + pedido_servico.valor_comissao|replace('.', ',') }}</td>
						<td>{{ pedido_servico.data_fim|datetime_pretty('date') }}</td>
						<td>
							<a href="{{ url_for('pedido.liberado', codigo_pedido=pedido_servico.pedido, codigo_servico=pedido_servico.servico) }}"
							class="btn btn-primary">
								Aprovar
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}