{% extends 'template.html' %}

{% block title %} Pedidos  {% endblock %}

{% block header %} <h3>Pedidos available</h3> {% endblock %}

{% block section %}
	{% from 'security/_macros.html' import render_field %}
	{% include "layout/messages.html" %}
	<form class="form-inline" id="filtro-form">
		{# {{ filter_form.csrf_token }}
		{{ filter_form.hidden_tag() }} #}
		<input type="hidden" name="page" value="1">
		<p class="form-control-label mb-3 mr-sm-3">{{ filter_form.filtrar_por.label }}</p>
		{{ render_field(filter_form.filtrar_por, class_="form-control mb-3 mr-sm-3") }}
		{{ render_field(filter_form.loja_filtro, class_="form-control mb-3 mr-sm-3", hidden=True, disabled=True) }}
		{{ render_field(filter_form.status_filtro, class_="form-control mb-3 mr-sm-3", hidden=True, disabled=True) }}
		{{ render_field(filter_form.filtrar, class_="form-control btn btn-primary mb-2 mr-sm-2") }}
	</form>
	<table class="table table-hover" id="pedidos">
		<thead>
			<tr>
				<th>Loja</th>
				<th>Numero</th>
				<th>Cliente</th>
				<th>Valor</th>
				<th>Data Entrada</th>
				<th>Data Inicio</th>
				<th>Data Término</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for pedido in pedidos.items %}
				<tr class="pedido">
					<td class="pedido-codigo hide-tag">{{ pedido.codigo }}</td>
					<td class="loja-nome">{{ pedido.loja_obj.nome }}</td>
					<td class="pedido-numero">{{ pedido.numero }}</td>
					<td class="cliente-nome">{{ pedido.cliente_endereco_obj.cliente_obj.nome + ' ' +  pedido.cliente_endereco_obj.cliente_obj.sobrenome}}</td>
					<td class="pedido-valor">{{ 'R' + "${:,.2f}".format(pedido.valor) }}</td>
					<td class="pedido-data">{{ pedido.data_entrada|datetime_pretty('date') }}</td>
					<td>{{ 'N/A' if not pedido.data_inicio else pedido.data_inicio|datetime_pretty('date') }}</td>
					<td>{{ 'N/A' if not pedido.data_fim else pedido.data_fim|datetime_pretty('date') }}</td>
					<td>{{ pedido.status.value|capitalize }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if pedidos.has_prev %}
		<a href="{{ url_for('pedido.pedidos', page=pedidos.prev_num, **argumentos) }}">&lt;&lt; Anterior</a>
	{% endif %}
	{% if pedidos.has_next %}
		<a href="{{ url_for('pedido.pedidos', page=pedidos.next_num, **argumentos) }}">Próximo &gt;&gt; </a>
	{% endif %}
{% endblock %}


{% block script %} 
<script type="text/javascript">
	jQuery(document).ready(function($) {


		$("#filtro-form").on('change', '#filtrar_por', function(event) {
			event.preventDefault();
			valueSelected = $(this).val()
			if(valueSelected == 'loja'){
				$('#loja_filtro').removeAttr('hidden')
				$('#loja_filtro').removeAttr('disabled')

				if(!$('#status_filtro').attr('hidden')){
					$('#status_filtro').attr('hidden', true);
					$('#status_filtro').attr('disabled', true);
				}

			} else if(valueSelected == 'status'){
				$('#status_filtro').removeAttr('hidden')
				$('#status_filtro').removeAttr('disabled')
				if(!$('#loja_filtro').attr('hidden')){
					$('#loja_filtro').attr('hidden', true);
					$('#loja_filtro').attr('disabled', true);
				}
			}
			if(valueSelected == ''){
				$('#status_filtro').attr('hidden', true);
				$('#status_filtro').attr('disabled', true);
				$('#loja_filtro').attr('hidden', true);
				$('#loja_filtro').attr('disabled', true);
			}
		});

		$('.pedido-codigo').hide();

		$('.real-value').numeric({decimalPlaces:2, altDecimal: '.', decimal:',', negative: false});
		
		$('#pedidos').on('click', '.tesss', function(event) {
			event.preventDefault();
			
			$(this).hide();
		});

		// Toda vez que clicar em uma linha, expandir os serviços
		$('#pedidos tbody').on('click', '.pedido', function(event) {
			event.preventDefault();
			/* Act on the event */
			var codigo = $(this).children('.pedido-codigo').text()
			var workingElem = $(this)
			var pedidos = [];
			var already_loaded = workingElem.next().hasClass('table-detail')

			if(!already_loaded){
				$.get(SCRIPT_ROOT + '/pedido/'+ codigo+ '/pedido_servico', function(data, status) {

					if(status === 'success'){
						console.log(data)
						var tbl = $('<table></table>', {class: 'table table-sm table-striped table-detail'})
						var tHead = $('<thead></thead>')
						var tBody = $('<tbody></tbody>')
						var tRowHeader = $('<tr></tr>')
						cabecalho = ['Servico', 'Funcionario', 'Status', 'Previsão Início', 'Previsão Término']
						
						for(let item = 0; item < cabecalho.length; item++){
							console.log(cabecalho[item])
							var tDataHeader = $('<th></th>', {text: cabecalho[item], scope: 'col'})
							tRowHeader.append(tDataHeader)
						}
						tHead.append(tRowHeader)
						tbl.append(tHead)
						tbl.append(tBody);

						/*pedidos = data.map(function(elem) {
							return JSON.parse(elem);
						})*/

						/*console.log(pedidos);*/

						data.map(function(elem) {
							
							var tRow= $('<tr></tr>', {scope: 'row'});
							var tDataCodigoPedido = $('<td></td>', {text: elem.pedido, hidden: true, class: 'codigo-pedido'})
							var tDataCodigoServico = $('<td></td>', {text: elem.servico, hidden: true,
							 class: 'codigo-servico'})
 							var tDataServicoNome = $('<td></td>',{text: elem.nome});
							var tDataServicoProps = $('<td></td>', {text: elem.servico_props.status });
							var tDataButton = $('<td></td>')
							var tButton = $('<a></a>', {
								text: 'Atualizar', 
								class: 'btn btn-outline-primary btn-small btn-pedido-servico', 
								href: SCRIPT_ROOT + '/pedido/' + elem.pedido + '/servico/' + elem.servico
							})

							tRow.append(tDataCodigoPedido);
							tRow.append(tDataCodigoServico)
							tRow.append(tDataServicoNome);
							tRow.append(tDataServicoProps);
							tRow.append(tDataButton)
							tDataButton.append(tButton)
							tBody.append(tRow);
						});
						


						workingElem.after(tbl);
					}
					
				});
			} else {
				if(workingElem.next().is(":hidden")){
					workingElem.next().show('fast');
				} else {
					workingElem.next().hide('fast');	
				}
			}
		});

	});
</script>
{% endblock %}