{% extends 'template.html' %}

{% block title %} Index {% endblock %}

{% block header %} 
	<h1>Confere - Index</h1>
{% endblock %}


{% block extra_script %}
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.12.16.min.css') }}">
 	<script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.12.16.min.js') }}"></script>
 	<script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-api-0.12.16.min.js') }}"></script>
{% endblock %}


{% block section %}

	{% include "layout/messages.html" %}
	
	
	{{ the_script }}

	{{ the_div }}

{% endblock %}
