{% extends 'template.html' %}

{% block title %} Index {% endblock %}

{% block header %} 
<h1>Confere - Index</h1>
{% endblock %}

{% block section %}
{% include "layout/messages.html" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Loja</th>
				<th>Nome Cliente</th>
				<th>Previsao Término</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for pedido_servico in pedidos_servicos.items %}
				<tr class="table-danger">
					<th>{{ pedido_servico.pedido_obj.loja_obj.nome }}</th>
					<th>{{ pedido_servico.pedido_obj.cliente_obj.nome }}</th>
					<th>{{ pedido_servico.data_fim_previsao|datetime_pretty('date') }}</th>
					<th>{{ 'Atrasado' }}</th>
					<th>
						<a class="btn btn-primary"
							href="{{ url_for('pedido.pedido_servico', codigo_pedido=pedido_servico.pedido, codigo_servico=pedido_servico.servico) }}">
							Atualizar
						</a>
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}