{% extends 'template.html' %}

{% block section %}
	{% include "layout/messages.html" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Usuario</th>
				<th>Funcao</th>
				<th>Cargo</th>
				<th>Ativo</th>
			</tr>
		</thead>
		<tbody>
			{% for usuario in usuarios %}
				<tr scope="row">
					<td>{{ usuario.funcionario.nome + ' ' + usuario.funcionario.sobrenome }}</td>
					<td>{{ usuario.username }}</td>
					<td>{{ usuario.roles[0].name }}</td>
					<td>{{ usuario.funcionario.cargo }}</td>
					<td>{{ 'Sim' if usuario.active else 'Não' }}</td>
					<td>
						<a 	class="btn btn-primary"
							href="{{ url_for('admin.registrar_usuario', user_id=usuario.id) }}">
							Atualizar
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}