{% extends 'template.html' %}

{% block title %} Novo funcionário {% endblock %}
{% from 'security/_macros.html' import render_field %}
{% block section %}
	{% if form.errors.items() %}
		{% for field in form.errors.keys() %}
			{% for message in form.errors[field] %}
				<div class="alert alert-danger alert-dismissible fade show">
					{{ field + ': ' + message }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'error' %}
					<div class="d-inline-flex p-10">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				{% elif category == 'success' %}
					<div class="d-inline-flex p-10">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form id="cadastrar-funcionario" action="" method="post">
		
		{{ form.crsf_token }}
		{{ form.hidden_tag() }}
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.nome.label }}</label>
				{{ render_field(form.nome, class_='form-control') }}
			</div>	
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.sobrenome.label }}</label>
				{{ render_field(form.sobrenome, class_='form-control') }}
			</div>	
		</div>
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.email.label }}</label>
				{{ render_field(form.email, class_="form-control") }}
			</div>
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.funcao.label }}</label>
				{{ render_field(form.funcao, class_="form-control") }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.numero_residencial.label }}</label>
				{{ render_field(form.numero_residencial, class_="form-control numeric") }}
			</div>
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.numero_celular.label }}</label>
				{{ render_field(form.numero_celular, class_="form-control numeric") }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label class="form-control-label">{{ form.cargo.label }}</label>
				{{ render_field(form.cargo, class_="form-control", data_parsley_minlength=5) }}
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label form-control-lg">{{ form.ativo.label }}</label>
				{{ render_field(form.ativo, class_="form-check-input") }}
			</div>
		</div>
		{{ render_field(form.submit) }}
	</form>
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='js/parsley.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/parsley-pt-br.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			var validation = $('#cadastrar-funcionario').parsley()
			$('.numeric').numeric({negative: false});
			console.log(validation)
		});
	</script>

{% endblock %}